body {
    background: rgb(243 244 246);
    /* background: black; */
  }

  h1 {
    /* font-family: 'Courier New', Courier, monospace; */
    /* color: blue; */
  }

  #error-msg {
    background-color: lightgoldenrodyellow;
    border: 1px solid orange;
    display: hidden;
    left: -15%
  }